
/**
 * Глобальные переменные Ext JS.
 * http://docs.sencha.com/extjs/latest/modern/Global_CSS.html
 * Этот файл можно использовать для задания переменных и предоставления глобального стиля.
 * Определенный стиль представления должен быть расположен в соответствующий файл scss представления.
 */

$enable-font-awesome: dynamic(true);

$base-color: #39babf;
$base-dark-color: #257c80;
$base-light-color: #83efef;